// pure Overrides
.splash {
    height: 90%;
    background: #494949;
}

header .home-menu.pure-menu-open, .splash-container {
    background: #494949;
}

header a, .pure-menu-heading {
    color: rgb(42, 255, 178);
}

.pure-table thead {
    background: rgb(42, 255, 178);
}

// end pure Overrides


.topper button {
    width: 2.72em;
    height: 2em;
    margin: 0px 4px;
    padding: 4px;
}

.topper button:first-child {
    margin-left: 116px;
}

/* .tracks { */
/*     float: left; */
/*     list-style: none; */
/*     padding: 0; */
/* } */

/* .tracks li { */
/*     display: table; */
/*     background: aquamarine; */
/*     border: 2px solid burlywood; */
/*     padding: 4px; */
/*     margin: 30px 10px; */
/* } */

/* .tracks li:first-child { */
/*     margin: 5px; */
/* } */

.active {
    border: 2px dashed orangered;
    background: orange;
}
.contain {width: 100%}
#sequence {
    min-height: 400px;
    width: 75%;
    margin: 20px auto;
    border: 2px solid #eee;
}

.content {
    border-top: 2px solid lightgray;
    background: rgb(111, 111, 111);
}

td:not(.track) {
    padding: 10px 23px !important;
}


tbody td.on {
    background: rgb(235, 118, 240);
}

canvas {
    margin: 10px;
    box-shadow: 6px 7px 10px 1px rgba(50, 50, 50, 0.77);
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.fileList {
  text-align: left;
  background: deepskyblue;
  overflow-y: scroll;
  max-height: 300px;
}

.fileList li {
    padding: 5px;
    border: 1px solid lightgray;
    list-style: none;
}

.fileList li.added {
    background: lightGrey;
}

#scheduler ul li {
    display: inline;
}
#scheduler ul li input {
    width: 2.8em;
    height: 2.8em;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 2 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}