// pure Overrides

.splash {
    height: 90% !important;
    background: #494949;
}

.control {
    display: inline-block;
}

#fft {
    margin-bottom: -20px;
    margin-left: -160px;
}

#fftime {
    z-index: -1;
    position: absolute;
    top: -200px;
    left: 13%;
}

header .home-menu.pure-menu-open, .splash-container {
    background: #494949;
}

header a, .pure-menu-heading {
    color: rgb(42, 255, 178);
}

.pure-table thead {
    background: rgb(42, 255, 178);
}

.home-menu li a, .home-menu .pure-menu-heading {
    color: rgb(42, 255, 178);
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: rgb(235, 118, 240);
}

.pure-table {
    border: 2px solid #696868;
}

.pure-button {
    background-color: #4B4B4B;
    color: rgb(29, 255, 147);
    border: 1px solid lightgray;
}

.pure-table-bordered td,
.pure-table-bordered th {
    border-bottom: 1px solid #cbcbcb;
    border-color: #696868;
}
// end pure Overrides


.topper button {
    width: 2.72em;
    height: 2em;
    margin: 0px 4px;
    padding: 4px;
}

.topper button:first-child {
    margin-left: 116px;
}

/* .tracks { */
/*     float: left; */
/*     list-style: none; */
/*     padding: 0; */
/* } */

/* .tracks li { */
/*     display: table; */
/*     background: aquamarine; */
/*     border: 2px solid burlywood; */
/*     padding: 4px; */
/*     margin: 30px 10px; */
/* } */

/* .tracks li:first-child { */
/*     margin: 5px; */
/* } */

.welcome {
    position: absolute;
    top: 90px;
    background: white;
    left: 27%;
    width: 500px;
    padding: 10px;
    z-index: 10;
    border: 2px solid;
}

.welcome h3 {
    color: rgb(235, 118, 240);
}

.active {
    background: rgba(81, 84, 87, 0.21);
}
.contain {width: 100%}

.sequence-panel {
    z-index: 10;
}

.content-wrapper {
    top: 96%;
}
.content {
    border-top: 2px solid lightgray;
    background: rgb(111, 111, 111);
}

td:not(.track) {
    padding: 10px 23px !important;
}


tbody td.on {
    background: rgb(235, 118, 240);
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.files {
    height: 200px;
    overflow-y: scroll;
    width: 400px;
    border: 1px solid;
    padding-left: 0;
    text-align: left;
}

.files li {
    background: lightgray;
    margin: 2px;
    padding-left: 10px;
    list-style: none;
}
.track {
    position: relative;
}

.track-opts {
    position: absolute;
    top: 1px;
    left: -1777px;
    background: rgba(23, 26, 25, 0.39);
    padding: 7px 3px;
    width: 100%;
    color: #13FF13;
}

.track-opts span {
    padding: 10px;
}
.track-opts.showing {
    left: 0;
}

.users {
    display: none;
}

.fileList li.added {
    background: lightGrey;
}

#scheduler ul li {
    display: inline;
}
#scheduler ul li input {
    width: 2.8em;
    height: 2.8em;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 2 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

